body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
}

.fullscreen-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 100%;
  height: 100%;

  object-fit: cover;  /* これで画面にジャストフィット！ */
}

#touchText {
  animation: blink 7s infinite; /* 1秒ごとに繰り返す */
}

/* 点滅用のキーフレーム */
@keyframes blink {
  0%, 50%, 100% { opacity: 1; }  /* 明るい状態 */
  25%, 75% { opacity: 0; }       /* 消える状態 */
}