body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: black;
  }
  
  .fullscreen-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 100%;
    height: 100%;
  
    object-fit: cover;  /* これで画面にジャストフィット！ */
  }
  